<p id="notice"><%= notice %></p>

<h3>Stocks</h3>

<% if @stocks.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Value</th>
        <th>Trend</th>
        <th>Remove</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @stocks.each do |stock| %>
        <tr>
          <td><%= stock.symbol %></td>
          <td><%= stock.shares %></td>
          <td><%= stock.price %></td>
          <td><%= stock.value(none: '-') %></td>
          <td><%= stock.trend(up: '^', down: 'v', none: '-') %></td>
          <td><%= link_to 'x', stock, method: :delete, data: { confirm: 'Remove stock?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  Create Stocks!
<% end %>

<br>

<h3>Stock</h3>

<% if @stocks.count < 5 %>

  <%= render 'form', stock: Stock.new %>
<% else %>
  Too many Stocks!
<% end %>
